@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes scroll-up {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-50%); }
}

.marquee-vertical {
  animation: scroll-up 10s linear infinite;
  will-change: transform;
}

.mask-fade {
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}